<% provide(:title,"About") %>
<!DOCTYPE html>
<html>
<h1>About</h1>

<p>
  The website <a href="http://www.google.com"><em>google.com </em></a>is a very good place to search things online
</p>

</html>
